body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #fffdf9;
  color: #333;
}

header {
  background-color: #ffe3b3;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

header h1 {
  margin: 0;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #b35d00;
  transition: all 0.3s ease;
}

nav a:hover {
  font-size: 27px;
  color: gray;
}
main {
  padding-left: 50px;
}
footer {
  text-align:bottom;
  padding-left: 50px;
}